<header
  class="w-full h-[204px] px-[12px] bg-no-repeat bg-cover bg-center"
  style="background: linear-gradient(90deg, #E5EEFF 0%, #FFFFFF 50%, #E5EEFF 90%)"
>
  <div class="flex justify-between pt-[44px]">
    <div>
      <p class="font-semibold text-[24px]">Merhaba!</p>
      <p class="font-normal text-[14px] text-[#777E90]">
        Lizyum'a Hoşgeldiniz!
      </p>
    </div>

    <img
      src="./assets/avatar.jpeg"
      alt="profile"
      class="w-[50px] h-[50px] rounded-full object-cover border-[1px] border-white"
    />
  </div>

  <div
    class="flex items-center bg-white rounded-[10px] shadow px-4 py-2 w-full  mt-4"
  >
    <!-- Search Icon -->
    <div
      class="w-10 h-10 flex items-center justify-center bg-[#F2F4F7] rounded-full"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5 text-gray-600"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M21 21l-4.35-4.35m0 0A7.5 7.5 0 103.75 3.75a7.5 7.5 0 0012.9 12.9z"
        />
      </svg>
    </div>

    <!-- Input -->
    <input
      type="text"
      placeholder="Aramak İstediğiniz Hizmeti Yazın"
      class="flex-1 px-3 py-1 text-sm focus:outline-none bg-transparent placeholder-gray-500"
    />

    <!-- Filter Icon -->
    <div
      class="w-10 h-10 flex items-center justify-center bg-[#F2F4F7] rounded-full"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5 text-gray-600"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
      >
        <path
          d="M3 6h18M6 12h12M10 18h4"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
  </div>
</header>
